<!-- src/views/register.handlebars -->
<h2>Registro de Usuario</h2>
<form action="/api/sessions/register" method="POST">
    <div>
        <label>Nombre:</label>
        <input type="text" name="first_name" required />
    </div>
    <div>
        <label>Apellido:</label>
        <input type="text" name="last_name" required />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Edad:</label>
        <input type="number" name="age" required />
    </div>
    <div>
        <label>Contraseña:</label>
        <input type="password" name="password" required />
    </div>
    <button type="submit">Registrarse</button>
</form>
<p>¿Ya tenés cuenta? <a href="/login">Iniciar sesión</a></p>
