<h1>Restablecer Contraseña</h1>
<form action="/api/sessions/forgot-password" method="POST">
  <input type="email" name="email" placeholder="Correo" required />
  <button type="submit">Enviar Correo de Recuperación</button>
</form>
